*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif ;
    font-size: 1rem;
}

.container {
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        'h h h'
        's c c'
        'f f f';

    gap: 5px;
    width: 100vw;
    height: 100vw;
}

.header {
    grid-area: h;
    background-color: #ebbcba;
    direction: rtl;
    color:#31748f ;
    
}

.sidebar {
    grid-area: s;
    background-color: #ebbcba;
}

.content {
    grid-area: c;
    background-color: #ebbcba;
}

.footer {
    grid-area: f;
    background-color: #ebbcba;
    color: #31748f;
    text-align: center;
    padding: 1rem;
}

.buttons {
    border: none;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 2rem;
    text-align: center;
    color: #31748f;
    border-radius: 10px;
    background-color:#ebbcba ;
}

.buttons:hover {
    background-color:#e0def4 ;
}

.top {
    display: flex;
    flex-direction: row;
}

li {
    padding: 1rem;
    list-style-type: none;
    font-size: 2rem;
}

.side_button {
    border: none;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 2rem;
    text-align: left;
    color: #31748f;
    border-radius: 10px;
    background-color:#ebbcba ;
}

.side_button:hover {
    background-color:#e0def4 ;
}
